{% extends 'layout.html' %}

{% block body %}
	<h1>About</h1>
	<p>Hitman Nation is a game where you must train hard to complete as much contracts you can.  You must use strategy and choose your friends wisely if you want to come out on top, for they may betray you here. Unlike most games, Hitman Nation offers both an individual and team play aspects, that can take as little or as much time as you'd like. You could spend all day in the Gym training to attack as much peeople you want and make much as money as possible!.</p>
{% endblock %}
