{% extends 'layout.html' %}

{% block body %}
	<h1>Missions</h1>
	<ul class="list-group">
		<li class = "list-group-item"><a href="KillPeasant">1 Brave Bar: Shoot Peasant</a></li>
		<li class = "list-group-item"><a href="KillLoanShark">2 Brave Bar: Kill Loan Shark</a></li>
		<li class = "list-group-item"><a href="KillBusinessMan">3 Brave Bar: Kill Business Man</a></li>
		<li class = "list-group-item"><a href="KillLawyer">4 Brave Bar: Kill Lawyer</a></li>
		<li class = "list-group-item"><a href="KillPresident">5 Brave Bar: Kill President</a></li>
	</ul>
	<div align = "center">
		<a class="btn btn-success" href="/dashboard">Back</a>
	</div>
{% endblock %}
