{% extends 'layout.html' %}

{% block body %}
	<h1>Points Exchange</h1>
	<ul class = "list-group">
		<li class = "list-group-item"><a href="/BraveRefill">Refill Brave - 25 Points</a></li>
		<li class = "list-group-item"><a href="/EnergyRefill">Refill Energy - 25 Points</a></li>
		<li class = "list-group-item"><a href="/HappinessRefill">Refill Happiness - 25 Points</a></li>
		<li class = "list-group-item"><a href="/HealthRefill">Refill Health - 25 Points</a></li>
	</ul>
	<hr>
	<div align = "center">
		 <a class="btn btn-success" href="/dashboard">Back</a>
	</div>

{% endblock %}
