{% extends 'layout.html' %}
{% block body %}
	<h1>Real Estate</h1>
	<hr>
	<h3>{{ msg }}</h3>
	<ul class="list-group">
		<li class="list-group-item"><a href="Real_Estate/Flat">Buy Flat - $25000 - 200 Happiness</a></li>
		<li class="list-group-item"><a href="Real_Estate/TerracedHouse">Buy Terrace House - $50000 - 300 Happiness</a></li>
		<li class = "list-group-item"><a href="Real_Estate/EndOfTerrace">Buy End of Terrace House - $100000 - 400 Happiness</a></li>
		<li class = "list-group-item"><a href="Real_Estate/Semi_Detached_House">Buy Semi Detached House - $250000 - 500 Happiness</a></li>
		<li class = "list-group-item"><a href="Real_Estate/Detached_House">Buy Detached House - $500000 - 600 Happiness</a></li>
		<li class = "list-group-item"><a href="Real_Estate/Mansion">Buy Mansion - $1000000 - 700 Happiness</a></li>
		<li class = "list-group-item"><a href="Real_Estate/Castle">Buy Castle - $5000000 - 800 Happiness</a></li>
		<li class = "list-group-item"><a href="Real_Estate/Palace">Buy Palace - $25000000 - 900 Happiness</a></li>
		<li class = "list-group-item"><a href="Real_Estate/Private_Island">Buy Private Island - $100000000 - 1000 Happiness</a></li>
	</ul>
	<hr>
	<div align = "center">
		<a class="btn btn-success" href="/dashboard">Back</a>
	</div>
{% endblock %}
